{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/e6f12faa36.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <link rel="shortcut icon" href="{% static 'assets/img/png/icon.png' %}" />
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="{% static 'css\style.css' %}" />
    <title>Home</title>
  </head>
  <body>
    <header>
      
    {% if user.is_superuser %}
        <!-- nav para el staff-->
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container">
              <a class="navbar-brand" href="/">Staff App</a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                 <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>-->
      
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'habitacion_list' %}">Habitaciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'categoria_habitacion' %}">Categoria Habitacion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuarios_list' %}">Usuarios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'reservas_list' %}"
                      >Reservas</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Clientes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
<!-- end nav para el staff-->

        {% else %}
        <nav>
        <div>
          <img
            src="{% static 'assets/img/png/logo_blanco.png' %}"
            class="logo"
            alt="logo"
          />
        </div>
        <input type="checkbox" id="check" />
        <label for="check" class="bar-btn">
          <i class="fas fa-bars"></i>
        </label>
        <ul class="nav-menu">
          <li><a href="{% url 'index' %}" class="active">Home</a></li>
          <li><a href="{% url 'habitaciones' %}">Habitaciones</a></li>
          <li><a href="{% url 'create_book' %}">Reservas</a></li>
          <li><a href="{% url 'servicios' %}">Servicios</a></li>
          <li><a href="{% url 'contacto' %}">Contacto</a></li>
          
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Log Out</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'login' %}"
              ><i class="fa-solid fa-user icono_user"></i>Ingresa</a>
          </li> 
          <li>
            <a href="{% url 'signup' %}">Registrate</a>
          </li>   
                  {% endif %}
        </ul>
    </nav>
        {% endif %}
    </header>
    <main class="container-fluid">{% block main %} {% endblock %}</main>
    {% if user.is_superuser %}
    <div></div>
    {% else %}
    <footer class="piePagina">
      <div class="grupo-1">
        <div class="box">
          <figure>
            <a href="#">
              <img
                src="{% static 'assets/img/png/logo_blanco.png' %}"
                alt="Logo pie pagina"
              />
            </a>
          </figure>
        </div>
        <div class="box">
          <h2>SOBRE NOSOTROS</h2>
          <p>
            Python representa el trabajo de un grupo de personas dedicadas a la
            excelencia en hoteles. Llevamos trabajando más de 40 años para
            satisfacer las necesidades de nuestros huéspedes. Python es una
            cadena de holetes que se encuentra en varios paises del Caribe y que
            en cada uno de ellos se siguen los mismos estándares de excelencia.
            Para más información, visite nuestras redes sociales.
          </p>
        </div>
        <div class="box">
          <h2>Siguenos</h2>
          <div class="red-social">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
          </div>
        </div>
      </div>
      <div class="grupo-2">
        <small
          >&copy; 2022 <b>Hotel Python</b> - Todos los derechos
          reservados.</small
        >
      </div>
    </footer>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://fengyuanchen.github.io/datepicker/js/datepicker.js"></script>
  </body>
</html>
