{% extends 'base_book.html' %} {% block main %}
<div class="container">

    <div class="row">
        <div class="col-md-6 col-lg-6 col-xlg-6 col-sm-12 mx-auto my-4 ">

            <form action="/book_room/book" method="POST">
                {% csrf_token %}
                {% load app_tags %}
                <!--
                <div class="form-group">
                    <label for="room">Habitación:</label>
                    <input type="text" class="form-control " id="room" name="room" disabled value={{room.categoria.nombre}}>
                </div>
                <div class="form-group">
                    <label for="username">Location:</label>
                    <input type="text" class="form-control " id="location" name="location" disabled value={{room.hotel.location}}>
                </div>-->
                <div class="form-group">
                    <label for="user">username:</label>
                    <input type="text" class="form-control " id="username" name="username" required="true" value={{request.user}}>
                </div>
                <div class="form-group">
                    <label for="person">Personas:</label>
                    <input type="number" class="form-control " id="person" name="person" min="1" max={{room.capacidad}} required="true" value={{room.capacidad}}>
                </div>
                <div class="form-group">
                    <label for="chaeck_in">Check-in:</label>
                    <input type="date" class="form-control " id="check_in" min={%todays_date%} max={% max_date %} placeholder="check in " name="check_in" required="True" 
                    value="{{checkin|date }}"                    >
                </div>
                <div class="form-group">
                    <label for="chaeck_out">Check-Out:</label>
                    <input type="date" class="form-control " id="check_out" min={%tommorow%} max={% max_date%} placeholder="check out " name="check_out" required="True" value={{checkout}}>
                </div>
                <div class="form-group">
                    <label for="roomtype">Room Type:</label>
                    <input type="text" class="form-control " id="roomtype" name="roomtype" disabled value={{room.categoria.nombre}}>
                </div>
                <div class="form-group">
                    <label for="precio">Precio por noche:</label>
                    <input type="number" class="form-control " id="price" placeholder="precio " name="precio" disabled value={{room.precio}}>
                </div>


                <button type="submit" class="btn btn-primary">Book Now</button>
                <input type="hidden" name="room_id" value={{room.id}}>

            </form>
        </div>
    </div>
</div>


{% endblock %}