{% extends 'base7.html' %}
{% block main %}
{% load static %}
        <section class="titulo">
             <h1>NUESTROS SERVICIOS</h1>
        </section>
            <!-- image card layout start-->
             <div class="contenedor_servicios">
                <!-- image row start-->
                <div class="row">
                    <!-- image card start-->
                    <div class="imagen_card">

                        <img src="{% static 'assets/img/jpg/pet_friendly_1.jpg' %}" alt="">

                        <div class="detalle_card">
                            <h2>Pet <span>Friendly</span>
                            </h2>
                            <p>Trae tu mascota a nuestro hotel. No la dejas sola en casa. Estamos preparados para recibir a las mascotas de nuestos huéspedes</p>
                            <div class="mas">
                                <a href="#" class="leer_mas"> <span></span></a>
                                <div class="iconos">
                                    <a href="#"><i class="fa-solid fa-dog"></i></a>
                                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- image card end-->
                     <!-- image card start-->
                    <div class="imagen_card">
                        <img src="{% static 'assets/img/jpg/gym.jpg' %}" alt="">
                        <div class="detalle_card">
                            <h2>Nuestro <span>Gym</span>
                            </h2>
                            <p>Haz ejercicio en nuestro gym. En el hotel hay un gimnasio equipado para los huéspedes que desean tener una estadía fit</p>
                            <div class="mas">
                                <a href="#" class="leer_mas"> <span></span></a>
                                <div class="iconos">
                                    <a href="#"><i class="fa-solid fa-dumbbell"></i></a>
                                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- image card end-->
                     <!-- image card start-->
                     <div class="imagen_card">
                        <img src="{% static 'assets/img/jpg/pileta.jpg' %}" alt="">
                        <div class="detalle_card">
                            <h2>Nuestra <span>Pileta</span>
                            </h2>
                            <p>Zambullite en las hermosas piletas del hotel. Hay varias piletas, incluyendo un espacio especial para niños </p>
                            <div class="mas">
                                <a href="#" class="leer_mas"> <span></span></a>
                                <div class="iconos">
                                    <a href="#"><i class="fa-solid fa-person-swimming"></i></a>
                                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- image card end-->
                </div>
                <!-- image row end-->
                      <!-- image row start-->
                <div class="row">
                    <!-- image card start-->
                     <div class="imagen_card">
                        <img src="{% static 'assets/img/jpg/resto_1.jpg' %}" alt="">
                        <div class="detalle_card">
                            <h2>Nuestro <span>Resto</span>
                            </h2>
                            <p>Disfruta los platos más deliciosos de nuestro restaurante. Nuestro chef internacional deslumbra a nuestros huéspedes con platos gourmet, locales e internacionales </p>
                            <div class="mas">
                                <a href="#" class="leer_mas"> <span></span></a>
                                <div class="iconos">
                                    <a href="#"><i class="fa-solid fa-pot-food"></i></a>
                                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- image card end-->
                     <!-- image card start-->
                     <div class="imagen_card">
                        <img src="{% static 'assets/img/jpg/spa.jpg' %}" alt="">
                        <div class="detalle_card">
                            <h2>Nuestro <span>Spa</span>
                            </h2>
                            <p>Relajate en nuestro spa. El hotel cuenta con un amplio spa para los amantes de las terapias con agua. Dentro de este espacio encontrarás una piscina, sauna, hidromasaje y jacuzzi</p>
                            <div class="mas">
                                <a href="#" class="leer_mas"> <span></span></a>
                                <div class="iconos">
                                    <a href="#"><i class="fa-solid fa-face-smile-relaxed"></i></a>
                                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- image card end-->
                     <!-- image card start-->
                     <div class="imagen_card ">
                        <img src="{% static 'assets/img/jpg/harryPotter1.jpg' %}" alt="" >
                        <div class="detalle_card">
                            <h2>Pelis a la<span> Carta</span>
                            </h2>
                            <p>Podés disfrutar desde la comodidad de tu habitación la película que más te guste.</p>
                            <div class="mas">
                                <a href="{% url 'peliculas_a_la_carta' %}" class="leer_mas">Leer <span>Más</span></a>
                                <div class="iconos">
                                    <a href="#"><i class="fa-solid fa-tv"></i></a>
                                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- image card end-->
                </div>
                <!-- image row end-->
             </div>
            <!-- image card layout start-->
<!--SLIDER-->
<!--        </section>
        <section>Slider
            <div class="slider">
                <ul>
                    <li><img src="assets/img/sala_reuniones.jpg" alt=""></li>

                    <li><img src="assets/img/resto_1.jpg" alt=""></li>
                    <li><img src="assets/img/pet_friendly_1.jpg" alt=""></li>
                    <li><img src="assets/img/pileta_1.jpg" alt=""></li>
                    <li><img src="assets/img/sauna.jpg" alt=""></li>
                </ul>
            </div>
        </section>
-->
  {% endblock %}